*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* баннер с анонсом и формой обратной связи для замера заказа */
.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  max-width: 1336px;
  min-height: 500px;
  margin: 50px auto;
  background: #e9eef2 url(img/banner/bg.jpg) no-repeat center/cover;
}

.banner__inner {
  max-width: 885px;
  padding: 45px 0 0 150px;
}

.banner__title {
  margin-bottom: 45px;
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  text-transform: uppercase;
  color: #0490d7;
}

.bigbtn {
  padding: 1.45rem 3rem;
  border: none;
  border-radius: 46px;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7493EF;
  box-shadow: 0 4px 7px rgba(125, 154, 242, 0.2), inset 0 4px 7px #A0B6F8;
  transition: .3s background-color;
  cursor: pointer;
}

.bigbtn:hover {
  background: #597eeb;
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  transition: .2s all ease-in;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__inner {
  position: absolute;
  margin-top: 50px;
  width: 570px;
  padding: 24px;
  background-color: #fff;
}

.popup__content {
  position: relative;
}

.popup-form__title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9cf92;
  font-size: 18px;
  font-weight: 600;
  color: #13063f;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #353535;
}

input,
textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #b9b9b9;
  line-height: 1.8;
  transition: .1s ease-in;
}

input:focus {
  border: 1px solid rgba(0, 170, 255, 0.75);
  outline: none;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
}

textarea {
  line-height: 24px;
  resize: none;
}

textarea:focus {
  border: 1px solid rgba(0, 170, 255, 0.75);
  outline: none;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
}

.btn-primary {
  position: relative;
  margin: 10px 0;
  padding: 14px 60px;
  border: none;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  background: #e9cf92;
  color: #fff;
  transition: .3s background-color;
  cursor: pointer;
}

.btn-primary:hover {
  background: #c9ac6a;
}

.btn-primary::before,
.btn-primary::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 36px;
  margin-top: -1px;
  background: #fff;
}

.btn-primary::before {
  left: 15px;
}

.btn-primary::after {
  right: 15px;
}

.btn-close {
  position: absolute;
  top: -18px;
  right: -18px;
  padding: 14px 10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: .3s all;
  cursor: pointer;
}

.btn-close::before {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #969696;
  transform-origin: 9px 1px;
  transform: rotate(-45deg);
  transition: .3s all;
}

.btn-close::after {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #969696;
  transform-origin: 9px 1px;
  transform: rotate(45deg);
  transition: .3s all;
}

.btn-close:hover {
  background-color: #f0f0f0;
}

.btn-close:hover::before,
.btn-close:hover::after {
  background-color: #5e5e5e;
}

@media screen and (max-width: 1000px) {
  .banner__inner {
    padding: 45px 100px 0 100px;
  }
  .banner__title {
    font-size: 37px;
  }
  .bigbtn {
    padding: 1.25rem 2.4rem;
  }
}

@media screen and (max-width: 845px) {
  .banner__title {
    font-size: 30px;
  }
  .banner__inner {
    padding: 75px 100px 0 75px;
  }
  .banner {
    margin: 20px 0;
  }
}

@media screen and (max-width: 650px) {
  .banner__inner {
    padding: 50px 50px 0 50px;
  }
  .popup__inner {
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .banner__inner {
    padding: 90px 30px 30px 30px;
    text-align: center;
  }
  .banner__title {
    font-size: 25px;
  }
  .popup__inner {
    width: 420px;
  }
}

@media screen and (max-width: 460px) {
  .popup__inner {
    width: 390px;
  }
}

@media screen and (max-width: 420px) {
  .banner__title {
    margin-bottom: 100px;
    font-size: 20px;
  }
  .bigbtn {
    padding: 1rem 1.2rem;
  }
  .popup__inner {
    width: 290px;
  }
}

@media (orientation: landscape) and (max-height: 530.5px) {
  .popup__inner {
    height: 100vh;
    overflow: auto;
  }
}

/* блок «Виды деревянных жалюзи» с формами заказа и ценой */
.blinds {
  margin-bottom: 50px;
}

.blinds__content {
  margin-bottom: 50px;
  text-align: center;
}

.blinds__title {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  color: #0490d7;
}

.blinds__text {
  max-width: 740px;
  margin: 0 auto;
  font-weight: 500;
}

.blinds__item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.blinds__inner {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.blinds__inner:nth-child(-n+3) {
  margin-bottom: 50px;
}

.blinds__product {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.blinds__price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.old-price {
  font-weight: 500;
  text-decoration: line-through;
  color: #747474;
}

.new-price span {
  font-size: 25px;
  font-weight: 500;
  line-height: .5;
  word-spacing: -4px;
  color: #0490d7;
}

.blinds__inner img {
  width: 100%;
  margin-bottom: 10px;
}

.blinds__inner p {
  margin-bottom: 30px;
  flex-grow: 1;
}

.blinds__btn {
  text-align: center;
}

.bigbtn_mod {
  padding: 1.15rem 1.5rem;
}

@media screen and (max-width: 1136px) {
  .blinds__inner:nth-child(-n+4) {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .blinds__title {
    font-size: 37px;
  }
  .blinds__text {
    font-size: 14px;
  }
  .blinds__inner {
    font-size: 14px;
  }
  .blinds__inner:nth-child(-n+4) {
    margin-bottom: 30px;
  }
  .blinds__product {
    font-size: 16px;
  }
}

@media screen and (max-width: 845px) {
  .blinds {
    margin-bottom: 20px;
  }
  .blinds__content {
    margin-bottom: 30px;
  }
  .blinds__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .blinds__title {
    font-size: 25px;
  }
  .blinds__item {
    gap: 0;
}
  .bigbtn_mod {
    padding: 0.8rem 0.8rem;
  }
}

/* блок «Цветовая гамма» */
.color-spectrum {
  margin-bottom: 50px;
}

.color-spectrum__content {
  text-align: center;
}

.color-spectrum__title {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  color: #0490d7;
}

.color-spectrum__text {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
}

.color-spectrum__item {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.color-spectrum__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.color-spectrum__inner:first-child {
  align-items: flex-start;
}

.color-spectrum__inner:last-child {
  max-width: 900px;
}

.color-spectrum__img {
  width: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.color-spectrum__img p {
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .color-spectrum__title {
    font-size: 37px;
  }
  .color-spectrum__item {
    gap: 40px;
  }
  .color-spectrum__img p {
    font-size: 13px;
  }
  .color-spectrum__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 845px) {
  .color-spectrum {
    margin-bottom: 20px;
  }
  .color-spectrum__title {
    font-size: 30px;
  }
  .color-spectrum__inner:first-child {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .color-spectrum__title {
    font-size: 25px;
  }
}

/* блок «Популярные размеры деревянных жалюзи» */
.blinds-dimensions {
  margin-bottom: 50px;
}

.blinds-dimensions__content {
  margin-bottom: 50px;
}

.blinds-dimensions__content .blinds-dimensions__title {
  text-align: center;
}

.blinds-dimensions__content p {
  font-size: 16px;
  font-weight: 500;
}

.blinds-dimensions__content p:not(:last-child) {
  margin-bottom: 10px;
}

.blinds-dimensions__title {
  margin-bottom: 30px;
  font-size: 39px;
  font-weight: 500;
  line-height: 1.8;
  color: #0490d7;
}

.blinds-dimensions__content ul,
.blinds-dimensions__content ol {
  margin-bottom: 10px;
  padding-left: 20px;
}

.blinds-dimensions__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;
}

.blinds-dimensions__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.blinds-dimensions__info {
  flex-grow: 1;
}

.blinds-dimensions__info > span {
  display: block;
  margin-bottom: 8px;
}

.blinds__price_mod {
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .blinds-dimensions__title {
    margin-bottom: 15px;
    font-size: 37px;
  }
  .blinds-dimensions__content {
    margin-bottom: 35px;
  }
  .blinds-dimensions__content,
  .blinds-dimensions__content p {
    font-size: 14px;
  }
  .blinds-dimensions__info > span {
    font-size: 14px;
  }
  .blinds__price {
    font-size: 14px;
  }
  .blinds__price span {
    font-size: 20px;
  }
}

@media screen and (max-width: 845px) {
  .blinds-dimensions__content .blinds-dimensions__title {
    font-size: 30px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 550px) {
  .blinds-dimensions__content .blinds-dimensions__title {
    font-size: 25px;
  }
}

/* блок «Типы установки» */
.install-types {
  margin-bottom: 50px;
}

.install-types__tab-menu {
  margin-bottom: 30px;
}

.install-types__tab-menu-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  list-style-type: none;
}

.install-types__tab-menu-btn {
  padding: 10px 20px;
  border: 2px solid #3489b5;
  border-radius: 15px;
  font-weight: 500;
  color: #3489b5;
  cursor: pointer;
  transition: .2s all;
}

.install-types__tab-menu-btn:hover {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
}

.tab-menu-btn_active {
  background-color: #3489b5;
  font-weight: 500;
  color: #fff;
}

.blinds-dimensions__inner_mod {
  height: 390px;
}

.install-option {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .install-types__tab-menu-item {
    font-size: 14px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 845px) {
  .install-types__tab-menu-item {
    gap: 10px;
    width: 50%;
  }
  .install-types__tab-menu-btn {
    width: 100%;
  }
}

/* блок «Управление» */
.blinds-control {
  margin-bottom: 50px;
}

/* блок «Правильный замер» */
.taking-measurements {
  margin-bottom: 50px;
}

.taking-measurements__description {
  margin-top: 15px;
}

.taking-measurements__wrapper:not(:last-child),
.taking-measurements__title {
  margin-bottom: 15px;
}

.taking-measurements__wrapper:first-child .taking-measurements__title {
  font-weight: 500;
}

.taking-measurements__title {
  font-size: 14px;
}

@media screen and (max-width: 1000px) {
  .taking-measurements__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 985px) {
  .taking-measurements__wrapper:not(:last-child), 
  .taking-measurements__title {
    margin-bottom: 8px;
  }
}

/* блок «Типы крепления» */
.mounting-types {
  margin-bottom: 50px;
}
  
/* блок «Этапы работы» */
.work-stages {
  max-width: 1336px;
  min-height: 768px;
  margin: 0 auto 50px;
  padding: 20px 40px;
  background: #e9eef2 url(img/banner/work-stages-bg.jpg) no-repeat center/cover;
}

.work-stages__content {
  max-width: 700px;
  margin-left: auto;
}

.work-stages__title {
  font-size: 39px;
  font-weight: 600;
  color: #0490d7;
  text-align: center;
}

.word-stages__info-block {
  margin: 30px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .8)
}

.word-stages__info-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #0490d7;
}

.word-stages__info-list {
  margin: 20px 0;
  list-style-type: none;
}

.word-stages__info-link {
  padding-left: 25px;
  background: url(img/check-img.png) no-repeat 0 3px;
}

.word-stages__info-link:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 1000px) {
  .work-stages__content {
    max-width: 550px;
  }
  .work-stages__title {
    font-size: 37px;
  }
  .word-stages__info-block {
    margin: 20px 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 845px) {
  .work-stages {
    margin-bottom: 40px;
  }
  .work-stages__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .work-stages {
    padding: 20px 10px;
  }
}

/* блок «Ответы на частые вопросы» */
.faq {
  margin-bottom: 50px;
}

.faq__title {
  margin-bottom: 40px;
  font-size: 39px;
  font-weight: 500;
  color: #0490d7;
  text-align: center;
}

.faq__item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.faq__inner:nth-child(-n+3) {
  margin-bottom: 40px;
}

.faq__question {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 300px;
  margin: 20px auto;
  font-weight: 500;
}

.faq__answer {
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .faq__title {
    margin-bottom: 30px;
    font-size: 37px;
  }
  .faq__item {
    font-size: 14px;
  }
  .faq__inner {
    width: 50%;
  }
  .faq__inner:nth-child(-n+4) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 845px) {
  .faq__title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .faq__inner {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .faq__title {
    font-size: 25px;
  }
}

/* блок «Примеры работ» */
.work-examples {
  margin-bottom: 50px;
}

.work-examples__content {
  max-width: 760px;
  margin: 0 auto 40px;
  text-align: center;
}

.work-examples__title {
  margin-bottom: 20px;
  font-size: 39px;
  font-weight: 500;
  color: #0490d7;
}

.work-examples__text {
  font-weight: 500;
}

.work-examples__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work-examples__inner img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .work-examples__inner {
    width: 50%;
  }
  .work-examples__inner:nth-child(-n+2) img {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .work-examples__title {
    font-size: 37px;
  }
  .work-examples__text {
    font-size: 14px;
  }
}

@media screen and (max-width: 845px) {
  .work-examples {
    margin-bottom: 20px;
  }
  .work-examples__title {
    font-size: 30px;
  }
  .work-examples__inner {
    width: 100%;
  }
  .work-examples__inner img {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 550px) {
  .work-examples__title {
    font-size: 25px;
  }
}