*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', Arial, sans-serif;
}

/* баннер с анонсом и формой обратной связи для замера заказа */
.container {
  max-width: 1376px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  min-height: 500px;
  margin: 50px 0;
  background: #e9eef2 url(/img/banner/bg.jpg) no-repeat center/cover;
}

.banner__inner {
  max-width: 885px;
  padding: 45px 0 0 150px;
}

.banner__title {
  margin-bottom: 45px;
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  text-transform: uppercase;
  color: #0490d7;
}

.bigbtn {
  padding: 1.45rem 3rem;
  border: none;
  border-radius: 46px;
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7493EF;
  box-shadow: 0 4px 7px rgba(125, 154, 242, 0.2), inset 0 4px 7px #A0B6F8;
  transition: .3s background-color;
  cursor: pointer;
}

.bigbtn:hover {
  background: #597eeb;
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  transition: .2s all ease-in;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__inner {
  position: absolute;
  margin-top: 50px;
  width: 570px;
  padding: 24px;
  background-color: #fff;
}

.popup__content {
  position: relative;
}

.popup-form__title {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e9cf92;
  font-size: 18px;
  font-weight: 600;
  color: #13063f;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: #353535;
}

input,
textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #b9b9b9;
  line-height: 1.8;
  transition: .1s ease-in;
}

input:focus {
  border: 1px solid rgba(0, 170, 255, 0.75);
  outline: none;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
}

textarea {
  line-height: 24px;
  resize: none;
}

textarea:focus {
  border: 1px solid rgba(0, 170, 255, 0.75);
  outline: none;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
  box-shadow: 0 0 8px 1px rgba(0, 170, 255, 0.4);
}

.btn-primary {
  position: relative;
  margin: 10px 0;
  padding: 14px 60px;
  border: none;
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  background: #e9cf92;
  color: #fff;
  transition: .3s background-color;
  cursor: pointer;
}

.btn-primary:hover {
  background: #c9ac6a;
}

.btn-primary::before,
.btn-primary::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  height: 1px;
  width: 36px;
  margin-top: -1px;
  background: #fff;
}

.btn-primary::before {
  left: 15px;
}

.btn-primary::after {
  right: 15px;
}

.btn-close {
  position: absolute;
  top: -18px;
  right: -18px;
  padding: 14px 10px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  transition: .3s all;
  cursor: pointer;
}

.btn-close::before {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #969696;
  transform-origin: 9px 1px;
  transform: rotate(-45deg);
  transition: .3s all;
}

.btn-close::after {
  content: '';
  display: block;
  width: 15px;
  height: 2px;
  background-color: #969696;
  transform-origin: 9px 1px;
  transform: rotate(45deg);
  transition: .3s all;
}

.btn-close:hover {
  background-color: #f0f0f0;
}

.btn-close:hover::before,
.btn-close:hover::after {
  background-color: #5e5e5e;
}

/* блок «Виды деревянных жалюзи» с формами заказа и ценой */
.blinds {
  margin-bottom: 50px;
}

.blinds__content {
  margin-bottom: 50px;
  text-align: center;
}

.blinds__title {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  color: #0490d7;
}

.blinds__text {
  max-width: 740px;
  margin: 0 auto;
  font-weight: 500;
}

.blinds__item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.blinds__inner {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.blinds__inner:nth-child(-n+3) {
  margin-bottom: 50px;
}

.blinds__product {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.blinds__price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.old-price {
  font-weight: 500;
  text-decoration: line-through;
  color: #747474;
}

.new-price span {
  font-size: 25px;
  font-weight: 500;
  line-height: .5;
  word-spacing: -4px;
  color: #0490d7;
}

.blinds__inner img {
  margin-bottom: 10px;
}

.blinds__inner p {
  margin-bottom: 30px;
  flex-grow: 1;
}

.blinds__btn {
  text-align: center;
}

.bigbtn_mod {
  padding: 1.15rem 1.5rem;
}

/* блок «Цветовая гамма» */
.color-spectrum {
  margin-bottom: 50px;
}

.color-spectrum__content {
  text-align: center;
}

.color-spectrum__title {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.8;
  color: #0490d7;
}

.color-spectrum__text {
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
}

.color-spectrum__item {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.color-spectrum__inner {
  display: flex;
  flex-wrap: wrap;
}

.color-spectrum__inner:first-child {
  align-items: flex-start;
}

.color-spectrum__inner:last-child {
  max-width: 900px;
}

.color-spectrum__img {
  width: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.color-spectrum__img p {
  font-size: 14px;
}

/* блок «Популярные размеры деревянных жалюзи» */
.blinds-dimensions {
  margin-bottom: 50px;
}

.blinds-dimensions__content {
  margin-bottom: 50px;
}

.blinds-dimensions__content .blinds-dimensions__title {
  text-align: center;
}

.blinds-dimensions__content p {
  font-size: 16px;
  font-weight: 500;
}

.blinds-dimensions__content p:not(:last-child) {
  margin-bottom: 10px;
}

.blinds-dimensions__title {
  margin-bottom: 30px;
  font-size: 39px;
  font-weight: 500;
  line-height: 1.8;
  color: #0490d7;
}

.blinds-dimensions__content ul,
.blinds-dimensions__content ol {
  margin-bottom: 10px;
}

.blinds-dimensions__item {
  margin-bottom: 30px;
}

.blinds-dimensions__item {
  display: flex;
  justify-content: space-around;
}

.blinds-dimensions__inner {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  text-align: center;
}

.blinds-dimensions__info {
  flex-grow: 1;
}

.blinds-dimensions__info > span {
  display: block;
  margin-bottom: 8px;
}

.blinds__price_mod {
  margin-top: 20px;
}